  .header {
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    color: #013220;
    padding-left: 20px; /* Adjust padding for better alignment */
    padding-right: 10; /* Adjust padding for better alignment */
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
  
  .icecandy-text-container {
    display: flex;
    font-size: 20px; /* Adjust font size as needed */
    margin-left: 0%;
  }
  .icecandy-logo {
    width: 100px; 
    height: auto; 
    margin-left: 15px;
    border-radius: 150%;
  }
  
  /* Style for the date and time container */
.date-time-container {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-right: 5%;
  }
  /* Style for the date */
  .current-date {
    font-weight: bold; /* Make the date bold */
  }
  
  /* Style for the time */
  .current-time {
    font-weight: bold; /* Make the time bold */
    
  }
  .icon{
    margin-top: 20px;
  }
  .icon2{
    width: 30px;
    margin: 10px;
  }
  