.container {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .content {
    margin-top: 10%;
    margin-left: 20px;
    width: 50%; /* Adjust as needed */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='date'],
  input[type='number'],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Optionally, add more styling for the form control */
  .form-control {
    /* Your custom styles */
  }
  