.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  .customer{
    display: flex;
  justify-self: center;
  align-items: center;
  }
  
  .button {
    display: inline-block;
    margin: 20px;
    padding-right:50%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  