.Content {
  padding: 20px;
}

.option {
  margin: 20px;
}

.option h2, .option ul {
  list-style-type: none;
  padding: 0;
}

.option h2 {
  margin-bottom: 10px;
}

.option li {
  margin: 10px 0;
}

.option a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.option a i {
  margin-right: 8px;
}

.option a:hover {
  color: #007BFF;
}
