/* report.css */

.Content-deleteorder {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 120px); /* Adjust the max height based on your layout */
    width: 100%;
    padding-bottom: 5%;
  }
  
  .report-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    overflow: hidden; /* Hide content overflow */
  }
  
  .report-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icecandy-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .brandname {
    font-size: 24px;
    margin: 0;
  }
  
  .filter {
    margin-bottom: 10px;
  }
  
  .total-income {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #007bff;
    color: white;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .print-button {
    margin-top: 20px;
  }
  