.Settings{
    background: #2f0ab575;
    position: fixed;
    background-image: url('../images/Setting.jpg');
    background-size:auto;
    top: 120px;
    bottom: 0px;
    right: 0px;
    left: 208px;
    overflow: scroll;
}