.sidebar {
  position: fixed;
  width: 230px;
  top: 126px;
  left: 0px;
  bottom: 0px;
  background-color: #fe0c0c;
  color: #fff;
}
.Content{
  position: fixed;
  background-color: aliceblue;
  background-size: cover;
  top: 126px;
  bottom: 0px;
  right: 0px;
  left:200px;
  display: flex;
  overflow-y: scroll;
}

.sidebar nav {
  padding-top: 0px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}


.sidebar ul li a {
  color: #0e0808;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.icon3{
  width: 25%;
}
.sidebar ul li a img {
  margin-right: 15px;
  width: 25%;
  margin-bottom: 14px;

}

.sidebar ul li a .text {
  flex: 1;
}

.sidebar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.logout-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;

}
.logout-button :hover {
  color: #fff;
}

.logout{
  margin-left: 20px;
  color: #0e0808;
  font-size: larger;
}