.sidebar {
  position: fixed;
  width: 230px;
  top: 146px;
  left: 0px;
  bottom: 0px;
  background-color: #fe0c0c;
  color: #fff;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.Content {
  position: fixed;
  background-color: aliceblue;
  background-size: cover;
  top: 146px;
  bottom: 0px;
  right: 0px;
  left: 230px;
  display: flex;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.sidebar nav {
  padding-top: 0px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li a {
  color: #fff; /* Text color */
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.icon3 {
  width: 25px; /* Icon width */
  height: 25px; /* Icon height */
}

.sidebar ul li a img {
  margin-right: 15px;
}

.sidebar ul li a .text {
  flex: 1;
}

.sidebar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.logout-button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #fe0c0c;
  border: none;
  width: 100%;
}

.logout-button .icon3 {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.logout {
  flex: 1;
  text-align: left;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.logout-button:hover .logout {
  color: #fff;
}

/* Submenu styles */
.submenu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #fe0c0c;
  width: 100%;
  border: none;
}

.submenu-toggle img {
  margin-right: 15px;
  margin-bottom: -5px;
}

.submenu-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.submenu {
  list-style-type: none;
  padding-left: 0;
}

.submenu li {
  padding-left: 20px; /* Indent submenu items */
}

.submenu li a {
  color: #fe0c0c;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.submenu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 5px;
}

.submenu .product {
  padding-left: 20px;
}

.submenu .button1 .fas {
  margin-right: 10px;
}
