    .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: opacity 0.3s;
    }

    .back-to-top:hover {
        background-color: #0056b3;
    }
    .content-wrapper {
        padding-bottom: 60px;
    }
