
.Content-orderlist{
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Optional: Adjust the space between cards */
}
.transaction{
  width: 90%;
  padding-bottom: 25%;
}

.transaction-card {
  flex: 1 1 calc(33.333% - 16px); /* Adjust based on desired number of columns */
  box-sizing: border-box;
  margin-bottom: 16px; /* Optional: Adjust the space between rows */
}

